[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "doubanpypi"

[packages]
feeluown = '*'
qasync = '*'
requests = '*'
pydantic = '*'
fuo-migu = {editable = true, path = "."}
pyqt5 = "*"
dbus-python = "*"

[dev-packages]
pytest = '*'
